<template name="footer">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6" >
					<div class="row" id="footerLinks">
						<div class="col-md-4 col-xs-6">
							<h1>Hesabım</h1>
							<ul>
								<li><a href="">Giriş</a></li>
								<li><a href="">Hesabım</a></li>
								<li><a href="">Sipariş Geçmişi</a></li>
							</ul>
						</div>
						<div class="col-md-4 col-xs-6">
							<h1>Kurumsal</h1>
							<ul>
								<li><a href="">Bize Ulaşın</a></li>
								<li><a href="">Hakkımızda</a></li>
								<li><a href="">Kariyer</a></li>
							</ul>
						</div>
						<div class="col-md-4 col-xs-8">
							<h1>Destek</h1>
							<ul>
								<li><a href="">Kullanım Videoları</a></li>
								<li><a href="">Garanti & Iade</a></li>
								<li><a href="">Satış Sözleşmesi</a></li>
								<li><a href="">Ürün Koruma Planı</a></li>
								<li><a href="">Gizlilik İlkeleri</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" id="copyrightText">
				<div class="col-xs-6">
					<p>edelkrone&reg; Filmmaking Studios.</p>
				</div>
				<div class="col-xs-6">
					<p>Copyright &copy; 2009-2016</p>
				</div>
			</div>
		</div>
	</div>
</template>