<template name="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/edelkrone.svg" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
            	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      				ÜRÜNLER <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu lg-menu">
			      <li><a href="">JIBPLUS<span class="light-blue">YENİ</span></a></li>
			      <li><a href="">STANDPLUS</a></li>
			      <li><a href="">RIGONE</a></li>
			      <li><a href="">POVIE</a></li>
			      <li><a href="">FOCUSONE</a></li>
			      <li><a href="">SLIDER PLUS<span class="red">POPÜLER</span></a></li>
			      <li><a href="">ACTION MODULE</a></li>
			      <li><a href="">TARGET MODULE</a></li>
			      <li><a href="">OQLOQ</a></li>
			      <li><a href="">SLIDERONE</a></li>
			      <li><a href="">QUICKRELEASE ONE</a></li>
			      <li><a href="">FLEXTILT HEAD</a></li>
			      <li><a href="">POCKETSKATER<sup>2</sup></a></li>
			      <li><a href="">POCKETRIG<sup>2</sup></a></li>
			      <li><a href="">ÜRÜN AKSESUARLARI</a></li>
			      <li><a href="">ÜRÜN PARÇALARI</a></li>
			    </ul>
            </li>
             <li class="dropdown">
            	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      				BİZE ULAŞIN <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			      <li><a href="">İLETİŞİM FORMU</a></li>
			      <li><a href="">FACEBOOK</a></li>
			      <li><a href="">TWITTER</a></li>
			      <li><a href="">INSTAGRAM</a></li>
			      <li><a href="">YOUTUBE</a></li>
			    </ul>
            </li>
            <li class="nav-btn-n"><a href="#contact">ISFC16</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>