@import "bourbon/bourbon";
// Variables
$nav-color:#383838;
$light-blue: #3ec3d4;
$light-red: #f25050;
$light-pink: #d7396c;
$logo-width: 190px;
$logo-width-min: 120px;
$dropdown-menu-width: 270px;

* {
	@include transition(all 0.3s ease);
}

body {
	font-weight:200;
}

textarea:focus, input:focus{
    outline: none;
}

nav.navbar {
	position:relative;
	z-index:88;
}

.navbar-inverse {
	background-color:$nav-color;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: $nav-color;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: $nav-color;
}

.navbar-inverse .navbar-nav > li > a {
	color:#ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #464545;
}

a.navbar-brand img {
	width:$logo-width;
}

ul.navbar-icons >  {
	position:relative;
}

ul.navbar-icons > li > a {
	float:right;
}

ul.navbar-icons > li > a > span {
	font-size:20px;
	padding-top:10px;
}

ul.navbar-icons > li > a.search-bar {
	margin-top:10px;
	@include transition(all 1s ease);
	input.search-bar-input {
		border:none;
		background-color:transparent;
		border-bottom:1px solid #ffffff;
		font-weight:200;
		width:200px;
		font-size:14px;
		color:#ffffff;
	}
}

ul.navbar-icons > li > a.search-bar.search-bar-absolute {
	position:absolute;
	left:-160px;
	bottom:-65px;
	height:60px;
	width:320px;
	background-color:#383838;
	border-bottom-left-radius:20px;
	input.search-bar-input {
		width:280px;
	}
}

ul.navbar-icons > li > a.search-button {
	@include transition(all 1s ease);
}

ul.navbar-icons > li > a.close-button {
	@include transition(all 1s ease);
	color:#ffffff;
}	

ul.navbar-icons > li > a.shopping-cart {
	position:relative;
}

ul.navbar-icons > li > a.shopping-cart span.items{
	position:absolute;
	display:block;
	height:24px;
	width:24px;
	border-radius:100%;
	background-color:$light-pink;
	top:10px;
	right:0px;
	text-align:center;
	font-size:12px;
	line-height:23px;
	font-family: sans-serif;
}

ul.dropdown-menu {
	background-color: $nav-color;
	border-radius:0px;
	border:none;
	padding-top:0px;
	padding-bottom:0px;
	@include animation-duration(0.5s);
}

ul.dropdown-menu > li > a{
	color:#ffffff;
	padding: 8px 14px;
	font-weight:200;
	border-bottom:1px #818181 solid;
}

ul.dropdown-menu > li > a:hover{
	background-color:$light-blue;
	color:#ffffff;
}

ul.dropdown-menu > li > a:hover > span.light-blue,
ul.dropdown-menu > li > a:hover > span.light-red {
	color:#ffffff;
	border-color:#ffffff;
}

ul.dropdown-menu > li > a > span{
	display:block;
	float:right;
	border-radius:5px;
	font-size:12px;
	padding:3px 10px;
	font-weight:bold;
	margin-top:-3px;
}

ul.dropdown-menu > li > a > span.firefox{
	margin-top:-23px !important;
}

ul.dropdown-menu > li > a > span.light-red{
	border:1px $light-red solid;
	color:$light-red;
}

ul.dropdown-menu > li > a > span.light-blue{
	border:1px $light-blue solid;
	color:$light-blue;
}

div.shopping-cart-section {
	position:absolute;
	width:280px;
	min-height: 45px;
	background-color:#ffffff;
	bottom:-74px;
	right:40px;
	border:1px #ededed solid;
	z-index:10;
}

div.shopping-cart-section:before {
	content:'';
    position: absolute;
    bottom: 100%;
    right: 12px;
    width: 0;
    height: 0;
    border-bottom: solid 15px #ffffff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    z-index:11;
}

div.shopping-cart-section div {
	border:2px $light-pink solid;
	margin:10px;
	position:relative;
	p {
		font-weight:bold;
		color: $light-pink;
		padding-top:10px;
		padding-left:10px;
	};
	min-height:45px;
}



// Media Queries
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	a.navbar-brand img {
		width:$logo-width-min;
	}
	ul.dropdown-menu > li > a > span{
		padding:0px 10px;
		margin-top:-1px;
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height:620px;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	a.navbar-brand img {
		width:$logo-width-min;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	a.navbar-brand img {
		width:$logo-width-min;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	.navbar-inverse {
		height:69px;
	}

	a.navbar-brand img {
		width:$logo-width !important;
	}

	li.dropdown > a, li.nav-btn-n a {
		height:69px;
		padding-top:25px;
	}

	ul.dropdown-menu.lg-menu > li > a{
		width:$dropdown-menu-width;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	.navbar-inverse {
		height:69px;
	}

	a.navbar-brand img {
		width:$logo-width !important;
	}

	li.dropdown > a, li.nav-btn-n a {
		height:69px;
		padding-top:25px;
	}

	ul.dropdown-menu.lg-menu > li > a{
		width:$dropdown-menu-width;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
	.navbar-inverse {
		height:69px;
	}

	a.navbar-brand img {
		width:$logo-width !important;
	}

	li.dropdown > a, li.nav-btn-n a {
		height:69px;
		padding-top:25px;
	}

	ul.dropdown-menu.lg-menu > li > a{
		width:$dropdown-menu-width;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* Custom */
@media only screen 
and (max-width : 768px)
and (min-width : 1024px)
 {
/* Styles */
	.navbar-inverse {
		height:69px;
	}

	a.navbar-brand img {
		width:$logo-width !important;
	}

	li.dropdown > a, li.nav-btn-n a {
		height:69px;
		padding-top:25px;
	}

	ul.dropdown-menu.lg-menu > li > a{
		width:$dropdown-menu-width;
	}
}

