@font-face {
  font-family: alrightSansThin;
  src: url("/fonts/AlrightSans-Thin-v3.otf"); }
@font-face {
  font-family: alrightSansBold;
  src: url("/fonts/AlrightSans-Bold-v3.otf"); }
@font-face {
  font-family: alrightSansRegular;
  src: url("/fonts/AlrightSans-Regular-v3.otf"); }
* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

body {
  font-weight: 200; }

.hidden {
  display: none; }

.navbar {
  margin-bottom: 0px;
  border-bottom: 1px #ffffff solid; }

button.white-button {
  font-weight: bold;
  border: none;
  font-size: 13px;
  padding: 12px 40px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: alrightSansBold;
  color: #373737;
  border-radius: 5px; }

textarea:focus, input:focus {
  outline: none; }

nav.navbar {
  position: relative;
  z-index: 88; }

.navbar-inverse {
  background-color: #383838; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #101010;
  background-color: #383838;
  border-bottom: 1px solid #ffffff; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #383838; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #464545; }

a.navbar-brand img {
  width: 190px; }

ul.navbar-icons > {
  position: relative; }

ul.navbar-icons > li > a {
  float: right; }

ul.navbar-icons > li > a > span {
  font-size: 20px;
  padding-top: 10px; }

ul.navbar-icons > li > a.search-bar {
  margin-top: 10px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  float: right; }
  ul.navbar-icons > li > a.search-bar input.search-bar-input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    font-weight: 200;
    width: 200px;
    font-size: 14px;
    color: #ffffff; }

ul.navbar-icons > li > a.search-bar.search-bar-absolute {
  position: absolute;
  left: -160px;
  bottom: -65px;
  height: 60px;
  width: 320px;
  background-color: #383838;
  border-bottom-left-radius: 20px; }
  ul.navbar-icons > li > a.search-bar.search-bar-absolute input.search-bar-input {
    width: 280px; }

ul.navbar-icons > li > a.search-button {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

ul.navbar-icons > li > a.close-button {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  color: #ffffff; }

ul.navbar-icons > li > a.shopping-cart {
  position: relative; }

ul.navbar-icons > li > a.shopping-cart span.items {
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: #d7396c;
  top: 10px;
  right: 0px;
  text-align: center;
  font-size: 12px;
  line-height: 23px;
  font-family: sans-serif; }

ul.dropdown-menu {
  background-color: #383838;
  border-radius: 0px;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }

ul.dropdown-menu > li > a {
  color: #ffffff;
  padding: 8px 14px;
  font-weight: 200;
  border-bottom: 1px #818181 solid; }

ul.dropdown-menu > li > a:hover {
  background-color: #3ec3d4;
  color: #ffffff; }

ul.dropdown-menu > li > a:hover > span.light-blue,
ul.dropdown-menu > li > a:hover > span.light-red {
  color: #ffffff;
  border-color: #ffffff; }

ul.dropdown-menu > li > a > span {
  display: block;
  float: right;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 10px;
  font-weight: bold;
  margin-top: -3px; }

ul.dropdown-menu > li > a > span.firefox {
  margin-top: -23px !important; }

ul.dropdown-menu > li > a > span.light-red {
  border: 1px #f25050 solid;
  color: #f25050; }

ul.dropdown-menu > li > a > span.light-blue {
  border: 1px #3ec3d4 solid;
  color: #3ec3d4; }

div.shopping-cart-section {
  position: absolute;
  width: 280px;
  min-height: 45px;
  background-color: #ffffff;
  bottom: -74px;
  right: 40px;
  border: 1px #ededed solid;
  z-index: 10; }

div.shopping-cart-section:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 12px;
  width: 0;
  height: 0;
  border-bottom: solid 15px #ffffff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  z-index: 11; }

div.shopping-cart-section div {
  border: 2px #d7396c solid;
  margin: 10px;
  position: relative;
  min-height: 45px; }
  div.shopping-cart-section div p {
    font-weight: bold;
    color: #d7396c;
    padding-top: 10px;
    padding-left: 10px; }

div.youtube-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%; }

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

div.youtube-container {
  overflow: hidden; }

div.youtube-container .row {
  margin-left: 0px;
  margin-right: 0px;
  height: 60%; }

div.youtube-container .row div.col-sm-12:first-child {
  padding-left: 0px;
  padding-right: 0px; }

div.youtube-container div#contestbarSection {
  background-color: #383838;
  height: auto; }

div.youtube-container div#contestbarSection div {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  font-weight: 200;
  padding: 20px 10px; }

div.youtube-container div#contestbarSection div a {
  display: inline;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 25px;
  color: #3ec3d4; }
  div.youtube-container div#contestbarSection div a:hover {
    color: #4ae6fa; }

div.youtube-container div#contestbarSection div img {
  display: inline;
  width: 120px;
  margin-top: -8px; }

div#mainSection {
  margin-bottom: 200px; }

div#coverSection {
  margin-top: 0px;
  height: 43px;
  background-color: #ffffff;
  background-color: #3ec3d4;
  margin-top: -42px; }

#soonSection > div {
  background-color: #3ec3d4;
  min-height: 410px;
  padding-bottom: 30px; }

#soonSection > div:nth-child(2) > button {
  margin-top: 15px;
  margin-left: 35px; }

#soonSection > div:nth-child(2) > img {
  max-width: 420px;
  margin-top: 30px;
  margin-left: 190px; }

#soonSection > div:nth-child(2) > div {
  margin-top: -25px;
  padding-left: 35px; }

#soonSection > div:nth-child(2) > div h1,
#soonSection > div:first-child > div h1 {
  font-family: alrightSansThin;
  color: #373737;
  margin-bottom: 0px; }

#soonSection > div:first-child > div h1,
#soonSection > div:first-child > div p {
  width: 100%;
  text-align: right; }

#soonSection > div:first-child > div p {
  width: 100%;
  text-align: right;
  line-height: 23px; }

#soonSection > div:first-child > div {
  margin-top: -88px;
  padding-right: 35px; }

#soonSection > div:first-child > button {
  float: right;
  margin-right: 35px;
  margin-top: 15px; }

#soonSection > div:nth-child(2) > div h1 span,
#soonSection > div:first-child > div h1 span {
  font-family: alrightSansBold; }

#soonSection > div:first-child > img {
  display: inline-block; }

#soonSection > div:first-child > img:first-child {
  max-width: 125px;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 140px; }

#soonSection > div:first-child > img:nth-child(2) {
  max-width: 105px;
  margin-top: 40px;
  margin-right: 10px; }

#soonSection > div:first-child > img:nth-child(3) {
  max-width: 165px;
  margin-top: -60px; }

#soonSection > div:first-child > h2 {
  color: #ffffff;
  margin-top: -270px;
  margin-left: 640px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 25px;
  position: relative;
  font-family: alrightSansBold;
  z-index: 999; }

#soonSection > div:first-child > h2::after {
  content: '';
  position: absolute;
  top: 110%;
  left: 20%;
  width: 0;
  height: 0;
  border-top: solid 38px #ffffff;
  border-left: solid 38px transparent;
  border-right: solid 38px transparent; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  a.navbar-brand img {
    width: 120px; }

  ul.dropdown-menu > li > a > span {
    padding: 0px 10px;
    margin-top: -1px; }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 620px; }

  .videowrapper, div.youtube-container div#contestbarSection {
    margin-top: -40px; }

  div#coverSection {
    display: none; }

  #soonSection > div:first-child {
    padding-top: 30px; }

  #soonSection > div:first-child > div {
    margin-top: -40px; }

  #soonSection > div:first-child > img:first-child {
    max-width: 75px;
    margin-left: 30px; }

  #soonSection > div:first-child > img:nth-child(2) {
    max-width: 63px; }

  #soonSection > div:first-child > img:nth-child(3) {
    max-width: 99px; }

  #soonSection > div:nth-child(2) > img {
    max-width: 280px;
    margin-left: 70px; }

  #soonSection > div:nth-child(2) > div {
    margin-top: 0px; } }
@media only screen and (min-device-width: 481px) and (max-device-width: 737px) {
  /* Styles */
  ul.navbar-icons > li > a.search-bar.search-bar-absolute {
    left: 0px; }

  .videowrapper, div.youtube-container div#contestbarSection {
    margin-top: -62px; }

  div#coverSection {
    display: none; }

  #soonSection > div:first-child {
    padding-top: 40px; } }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  a.navbar-brand img {
    width: 120px; } }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  a.navbar-brand img {
    width: 120px; } }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .navbar-inverse {
    height: 70px; }

  a.navbar-brand img {
    width: 190px !important; }

  li.dropdown > a, li.nav-btn-n a {
    height: 69px;
    padding-top: 25px; }

  ul.dropdown-menu.lg-menu > li > a {
    width: 270px; }

  .videowrapper, div.youtube-container div#contestbarSection {
    margin-top: -87px; }

  div#coverSection {
    display: none; }

  #soonSection > div:first-child {
    padding-top: 40px; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .navbar-inverse {
    height: 70px; }

  a.navbar-brand img {
    width: 190px !important; }

  li.dropdown > a, li.nav-btn-n a {
    height: 69px;
    padding-top: 25px; }

  ul.dropdown-menu.lg-menu > li > a {
    width: 270px; }

  .videowrapper, div.youtube-container div#contestbarSection {
    margin-top: -87px; }

  #soonSection > div:first-child > img:first-child {
    max-width: 75px; }

  #soonSection > div:first-child > img:nth-child(2) {
    max-width: 63px; }

  #soonSection > div:first-child > img:nth-child(3) {
    max-width: 99px; }

  #soonSection > div:nth-child(2) > img {
    max-width: 320px;
    margin-left: 130px;
    margin-top: 65px; } }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .videowrapper, div.youtube-container div#contestbarSection {
    margin-top: -68px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .navbar-inverse {
    height: 70px; }

  a.navbar-brand img {
    width: 190px !important; }

  li.dropdown > a, li.nav-btn-n a {
    height: 69px;
    padding-top: 25px; }

  ul.dropdown-menu.lg-menu > li > a {
    width: 270px; }

  .videowrapper, div.youtube-container div#contestbarSection {
    margin-top: -117px; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*# sourceMappingURL=edelkrone.css.map */
