<template name="index">
	<div class="youtube-container container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="videowrapper"><div id="player"></div></div>
			</div>
			<div id="contestbarSection" class="col-sm-12">
				<div class="col-md-6 col-md-offset-3">
					<img src="/edelkrone_WOcrown.svg" alt="">
					International Short Film Contest - 
					<a href="">Detaylar</a>
				</div>
			</div>
			<div class="col-sm-12" id="coverSection"></div>
		</div>
	</div>
	<div id="mainSection" class="container-fluid">
		<div class="row" id="soonSection">
			<div class="col-md-6">
				<img src="/jibplus-1.png" alt="jibplus" class="wow fadeInLeft" data-wow-delay="0.5s">
				<img src="/jibplus-2.png" alt="jibplus" class="wow fadeInUp" data-wow-delay="0.5s">
				<img src="/jibplus-3.png" alt="jibplus" class="wow fadeInRight" data-wow-delay="0.5s">
				<div>
					<h1>JIB<span>PLUS</span></h1>
					<p>Min-jibler için hedef takip ve <br>sürekli odak özellikleri getiren akıllı eklenti.</p>
				</div>
				<button class="white-button">Detaylar</button>
				<h2 class="wow fadeInDown">Çok Yakında</h2>
			</div>
			<div class="col-md-6">
				<img src="/standplus.png" alt="standplus" class="wow fadeInUp" data-wow-delay="0.5s">
				<div>
					<h1>STAND<span>PLUS</span></h1>
					<p>Hızlı ve kolay kamera pozisyonlandırma çözümü.</p>
				</div>
				<button class="white-button">Detaylar</button>
			</div>
		</div>
	</div>
</template>