<template name="index">
	<div class="youtube-container container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="videowrapper"><div id="player"></div></div>
			</div>
			<div id="contestbarSection" class="col-sm-12">
				<div class="col-md-6 col-md-offset-3">
					<img src="/edelkrone_WOcrown.svg" alt="">
					International Short Film Contest - 
					<a href="">Detaylar</a>
				</div>
			</div>
			<div class="col-sm-12" id="coverSection"></div>
		</div>
	</div>
	<div id="mainSection" class="container-fluid">
		<div class="row" id="soonSection">
			<div class="col-md-6">
				<img src="/jibplus-1.png" alt="jibplus" class="wow fadeInLeft" data-wow-delay="0.5s">
				<img src="/jibplus-2.png" alt="jibplus" class="wow fadeInUp" data-wow-delay="0.5s">
				<img src="/jibplus-3.png" alt="jibplus" class="wow fadeInRight" data-wow-delay="0.5s">
				<div>
					<h1>JIB<span>PLUS</span></h1>
					<p>Min-jibler için hedef takip ve <br>sürekli odak özellikleri getiren akıllı eklenti.</p>
				</div>
				<button class="white-button">Detaylar</button>
				<h2 class="wow fadeInDown">Çok Yakında</h2>
			</div>
			<div class="col-md-6">
				<img src="/standplus.png" alt="standplus" class="wow fadeInUp" data-wow-delay="0.5s">
				<div>
					<h1>STAND<span>PLUS</span></h1>
					<p>Hızlı ve kolay kamera pozisyonlandırma çözümü.</p>
				</div>
				<button class="white-button">Detaylar</button>
			</div>
		</div>
		<div class="row" id="firstRow">
			<div class="col-md-6">
				<img src="/povie.png" alt="povie" class="">
				<div class="burst-star burst-36">
					<div>
				  		<div><span>Yeni</span></div>
				 	</div>
				</div>
				<div class="product-text wow fadeInUp" data-wow-delay="0.3s">
					<button class="blue-button">Detaylar</button>
					<h1>Povie</h1>
					<p>Elleriniz serbest.<br>Ne görüyorsanız onu paylaşın.</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/rigone.png" alt="rigone" class="">
				<div class="burst-star burst-36">
					<div>
				  		<div><span>Yeni</span></div>
				 	</div>
				</div>
				<div class="product-text wow fadeInRight" data-wow-delay="0.3s">
					<button class="blue-button">Detaylar</button>
					<h1>Rig<span>One</span></h1>
					<p>Profesyonel video prodüksiyonlar<br>için All-in-one rig çözümü</p>
				</div>
			</div>
		</div>
		<div class="row" id="secondRow">
			<div class="col-md-3">
				<div class="wow fadeInLeft" data-wow-delay="0.8s">
					<h1>Slider<span>Plus</span></h1>
					<p>Dünya'nın tek <i>uzayabilen</i> sliderı</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/sliderplus.png" alt="sliderplus" class="wow fadeInDown" data-wow-delay="0.8s">
				<div>
					<div class="burst-star burst-36 wow flip" data-wow-delay="0.5s">
						<div>
					  		<div><span>Pop</span></div>
					 	</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wow fadeInRight" data-wow-delay="0.5s">
					<div>
						<h1><span>Target</span> Module</h1>
						<p>Aktif hedefleme modülü</p>
					</div>
					<div>
						<h1><span>Action</span> Module</h1>
						<p>Hareket kontrolü modülü</p>
					</div>
					<button class="blue-button">Detaylar</button>
				</div>
			</div>
		</div>
		<div class="row" id="thirdRow">
			<div class="col-md-6">
				<img src="/focusone.png" alt="focusone" class="">
				<div class="burst-star burst-36">
					<div>
				  		<div><span>Yeni</span></div>
				 	</div>
				</div>
				<div class="product-text wow fadeInUp" data-wow-delay="0.3s">
					<button class="blue-button">Detaylar</button>
					<h1>Focus<span>One</span></h1>
					<p>Odak takibi için yeni bir başlangıç</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/sliderone.png" alt="sliderone">
				<div class="product-text wow fadeInRight" data-wow-delay="0.3s">
					<button class="blue-button">Detaylar</button>
					<h1>Slider<span>One</span></h1>
					<p>En iyi slider her zaman yanınızda olandır.</p>
				</div>
			</div>
		</div>
	</div>
</template>